apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: observability
  labels:
    app: mimir
data:
  mimir.yaml: |
    target: all,alertmanager
    multitenancy_enabled: true
    tenant_federation:
      enabled: true
    compactor:
      data_dir: /tmp/mimir/compactor
      sharding_ring:
        kvstore:
          store: memberlist

    distributor:
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: memberlist

    ingester:
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: memberlist
        replication_factor: 1

    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /data/blocks-storage
      bucket_store:
        sync_dir: /data/bucket-store-sync
      tsdb:
        dir: /data/tsdb

    server:
      http_listen_port: 9009
      log_level: warn

    limits:
      compactor_blocks_retention_period: 7d
      ruler_max_rules_per_rule_group: 100

    ruler:
      rule_path: /data/ruler # Temporary storage for Ruler
      alertmanager_url: http://localhost:9009/alertmanager
      ring:
        heartbeat_period: 2s
        heartbeat_timeout: 10s

    ruler_storage:
      backend: filesystem
      filesystem:
        dir: /data/rules

    alertmanager:
      data_dir: /tmp/alertmanager # Temporary storage for Alertmanager
      external_url: http://localhost:9009/alertmanager

    alertmanager_storage:
      backend: filesystem
      filesystem:
        dir: /data/alertmanager

---
apiVersion: v1
kind: Service
metadata:
  name: mimir-headless
  namespace: observability
  labels:
    app: mimir
spec:
  clusterIP: None
  selector:
    app: mimir
  ports:
    - name: http
      port: 9009
      targetPort: 9009
---
apiVersion: v1
kind: Service
metadata:
  name: mimir
  namespace: observability
  labels:
    app: mimir
spec:
  type: ClusterIP
  selector:
    app: mimir
  ports:
    - name: http
      port: 9009
      targetPort: 9009

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mimir
  namespace: observability
  labels:
    app: mimir
spec:
  serviceName: mimir-headless
  replicas: 1
  selector:
    matchLabels:
      app: mimir
  template:
    metadata:
      labels:
        app: mimir
    spec:
      containers:
        - name: mimir
          image: grafana/mimir:latest
          args: ["-config.file=/etc/mimir.yaml"]
          ports:
            - containerPort: 9009
              name: http
          volumeMounts:
            - name: config
              mountPath: /etc/mimir.yaml
              subPath: mimir.yaml
            - name: data
              mountPath: /data
            - name: tmp
              mountPath: /tmp
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      terminationGracePeriodSeconds: 60
      volumes:
        - name: config
          configMap:
            name: mimir-config
            items:
              - key: mimir.yaml
                path: mimir.yaml
        - name: tmp
          emptyDir:
            sizeLimit: "1Gi"
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi

