customConfig:
  api:
    enabled: true
    address: 0.0.0.0:8686
    playground: true
    graphql: true
  sources:
    internal_metrics:
      type: internal_metrics
    otel:
      type: opentelemetry
      grpc:
        address: 0.0.0.0:4317
      http:
        address: 0.0.0.0:4318
      use_otlp_decoding: true

  transforms:
    otel_tenant:
      type: remap
      inputs:
        - otel.traces
      source: |
        for_each(array!(.resourceSpans)) -> |_rs, rs| {
          attrs = array!(get!(rs, ["resource", "attributes"]))
          matches = filter(attrs) -> |atr, a| {
            a.key == "tenant.name"
          }
        .tenant = get!(matches, [0, "value", "stringValue"])
        }

    drop_useless_traces:
      type: filter
      inputs: [otel_tenant]
      condition: |
        blocked = false
        for_each(array!(.resourceSpans)) -> |_rs_i, rs| {
          for_each(array!(get!(rs, ["scopeSpans"])) ) -> |_ss_i, ss| {
            for_each(array!(get!(ss, ["spans"])) ) -> |_s_i, s| {
              attrs = array!(get!(s, ["attributes"]))
              matches = filter(attrs) -> |_a_i, a| {
                a.key == "url.path" &&
                (get!(a, ["value", "stringValue"]) == "/metrics" ||
                get!(a, ["value", "stringValue"]) == "/health")
              }
              if length(matches) > 0 {
                blocked = true
              }
            }
          }
        }
        !blocked

  sinks:
    prom_exporter:
      type: prometheus_exporter
      inputs: [internal_metrics]
      address: 0.0.0.0:9090
    stdout:
      type: console
      inputs: [drop_useless_traces]
      encoding:
        codec: json
        pretty: true
    tempo:
      inputs:
        - drop_useless_traces
      type: opentelemetry
      protocol:
        type: http
        uri: "http://tempo.observability:4318/v1/traces"
        encoding:
          codec: otlp
        request:
          headers:
              X-Scope-OrgID: |-
                {{ print "{{ tenant }}" }}



nameOverride: ""

fullnameOverride: ""


role: "Stateless-Aggregator"

rollWorkload: true

rollWorkloadSecrets: false

rollWorkloadExtraObjects: false

commonLabels: {}

image:
  repository: timberio/vector
  pullPolicy: IfNotPresent
  pullSecrets: []
  tag: "nightly-alpine"
  sha: ""
  base: ""

replicas: 1

hostAliases: []


podManagementPolicy: OrderedReady

secrets:
  generic: {}

autoscaling:
  enabled: false
  external: false
  annotations: {}
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage:
  customMetric: {}
  behavior: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 1
  maxUnavailable:

rbac:
  create: true
  extraRules: []

psp:
  create: false

serviceAccount:
  create: true
  annotations: {}
  name:
  automountToken: true

podAnnotations: {}

podLabels:
  vector.dev/exclude: "true"

podPriorityClassName: ""

podHostNetwork: false

podSecurityContext: {}

workloadResourceAnnotations: {}

securityContext: {}

command: []

args:
  - --config-dir
  - "/etc/vector/"

env: []

envFrom: []

containerPorts:
  - containerPort: 8686
    name: api
    protocol: TCP
  - containerPort: 9090
    name: prom-exporter
    protocol: TCP
  - containerPort: 4317
    name: otlp-grpc
    protocol: TCP
  - containerPort: 4318
    name: otlp-http
    protocol: TCP

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 256Mi

lifecycle: {}


minReadySeconds: 0


updateStrategy: {}

terminationGracePeriodSeconds: 60

nodeSelector: {}

tolerations: []

affinity: {}

topologySpreadConstraints: []

service:
  enabled: true
  type: "ClusterIP"
  annotations: {}
  topologyKeys: []
  ports:
    - name: api
      port: 8686
      protocol: TCP
      targetPort: 8686
    - name: prom-exporter
      port: 9090
      protocol: TCP
      targetPort: 9090
    - targetPort: 4317
      name: otlp-grpc
      protocol: TCP
      port: 4317
    - targetPort: 4318
      port: 4318
      name: otlp-http
      protocol: TCP

  externalTrafficPolicy: ""
  internalTrafficPolicy: ""
  loadBalancerIP: ""
  ipFamilyPolicy: ""
  ipFamilies: []
  trafficDistribution: ""

serviceHeadless:
  enabled: false

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []


dataDir: ""






defaultVolumes:
  - name: var-log
    hostPath:
      path: "/var/log/"
  - name: var-lib
    hostPath:
      path: "/var/lib/"
  - name: procfs
    hostPath:
      path: "/proc"
  - name: sysfs
    hostPath:
      path: "/sys"

defaultVolumeMounts:
  - name: var-log
    mountPath: "/var/log/"
    readOnly: true
  - name: var-lib
    mountPath: "/var/lib"
    readOnly: true
  - name: procfs
    mountPath: "/host/proc"
    readOnly: true
  - name: sysfs
    mountPath: "/host/sys"
    readOnly: true

extraVolumes: []

extraVolumeMounts: []

initContainers: []

extraContainers: []

persistence:
  enabled: false
  existingClaim: ""

  retentionPolicy: {}

  accessModes:
    - ReadWriteOnce
  size: 10Gi
  finalizers:
    - kubernetes.io/pvc-protection
  selectors: {}

  hostPath:
    enabled: true
    path: "/var/lib/vector"

dnsPolicy: ClusterFirst

dnsConfig: {}

shareProcessNamespace: false

livenessProbe: {}

readinessProbe: {}

podMonitor:
  enabled: false
  jobLabel: app.kubernetes.io/name
  port: prom-exporter
  path: /metrics
  interval:
  scrapeTimeout:
  relabelings: []
  metricRelabelings: []
  podTargetLabels: []
  additionalLabels: {}
  honorLabels: false
  honorTimestamps: true

logLevel: "warn"

haproxy:
  enabled: false

  image:
    repository: haproxytech/haproxy-alpine
    pullPolicy: IfNotPresent
    pullSecrets: []
    tag: "2.6.12"

  rollWorkload: true

  replicas: 1

  serviceAccount:
    create: true
    annotations: {}
    name:
    automountToken: true

  strategy: {}

  terminationGracePeriodSeconds: 60

  podAnnotations: {}

  podLabels: {}

  podPriorityClassName: ""

  podSecurityContext: {}

  securityContext: {}

  containerPorts: []

  service:
    type: ClusterIP
    annotations: {}
    topologyKeys: []
    ports: []
    externalTrafficPolicy: ""
    loadBalancerIP: ""
    ipFamilyPolicy: ""
    ipFamilies: []

  existingConfigMap: ""

  customConfig: ""

  extraVolumes: []

  extraVolumeMounts: []

  initContainers: []

  extraContainers: []

  autoscaling:
    enabled: false
    external: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage:
    customMetric: {}

  resources: {}

  livenessProbe:
    tcpSocket:
      port: 1024

  readinessProbe:
    tcpSocket:
      port: 1024

  nodeSelector: {}

  tolerations: []

  affinity: {}

extraObjects: []

