customConfig:
  data_dir: /vector-data-dir
  api:
    enabled: true
    address: 127.0.0.1:8686
    playground: false
  sources:
    kubernetes_logs:
      type: kubernetes_logs
      extra_namespace_label_selector: "log.scrape=true"
    internal_metrics:
      type: internal_metrics
  transforms:
    kubernetes_parser:
      type: remap
      inputs:
          - kubernetes_logs
      source: |
        del(.file)
        del(.kubernetes.container_id)
        del(.kubernetes.container_image_id)
        del(.kubernetes.pod_ip)
        del(.kubernetes.pod_annotations)
        del(.kubernetes.pod_ips)
        del(.kubernetes.node_labels)
        del(.kubernetes.pod_uid)
        del(.kubernetes.pod_node_name)
        del(.kubernetes.pod_labels."controller-revision-hash")
        del(.kubernetes.pod_labels."pod-template-hash")
        del(.kubernetes.container_image)
        del(.pod_uid)
        del(.stream)
        del(.source_type)
        del(.service_name)
        if !exists(.kubernetes.namespace_labels."tenant.name") {
          .tenant_name = "default"
        } else {
          .tenant_name = .kubernetes.namespace_labels."tenant.name"
        }
        del(.kubernetes.namespace_labels)
        .kubernetes = object!(.kubernetes)
        . = merge(., .kubernetes)
        del(.kubernetes)
  sinks:
    stdout:
      type: console
      inputs: [kubernetes_parser]
      encoding:
        codec: json
        pretty: true
    loki:
      inputs:
        - kubernetes_parser
      type: loki
      compression: snappy
      encoding:
        codec: json
        pretty: true
      remove_label_fields: true
      remove_structured_metadata_fields: true
      remove_timestamp: true
      out_of_order_action: accept
      labels:
        namespace: |-
          {{ print "{{ pod_namespace }}" }}
        "pod_labels_*": |-
            {{ print "{{ pod_labels }}" }}
        service_name: kubernetes
      structured_metadata:
        pod_name: |-
          {{ print "{{ pod_name }}" }}
        container_name: |-
          {{ print "{{ container_name }}" }}
        pod_owner: |-
            {{ print "{{ pod_owner }}" }}
      endpoint: http://loki.observability:3100
      tenant_id: |-
        {{ print "{{ tenant_name }}" }}
    prom_exporter:
      type: prometheus_exporter
      inputs: [internal_metrics]
      address: 0.0.0.0:9090



nameOverride: ""

fullnameOverride: ""


role: "Agent"

rollWorkload: true

rollWorkloadSecrets: false

rollWorkloadExtraObjects: false

commonLabels: {}

image:
  repository: timberio/vector
  pullPolicy: IfNotPresent
  pullSecrets: []
  tag: ""
  sha: ""
  base: ""

replicas: 1

hostAliases: []


podManagementPolicy: OrderedReady

secrets:
  generic: {}

autoscaling:
  enabled: false
  external: false
  annotations: {}
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage:
  customMetric: {}
  behavior: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 1
  maxUnavailable:

rbac:
  create: true
  extraRules: []

psp:
  create: false

serviceAccount:
  create: true
  annotations: {}
  name:
  automountToken: true

podAnnotations: {}

podLabels:
  vector.dev/exclude: "true"

podPriorityClassName: ""

podHostNetwork: false

podSecurityContext: {}

workloadResourceAnnotations: {}

securityContext: {}

command: []

args:
  - --config-dir
  - "/etc/vector/"

env: []

envFrom: []

containerPorts: []

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 256Mi

lifecycle: {}


minReadySeconds: 0


updateStrategy: {}

terminationGracePeriodSeconds: 60

nodeSelector: {}

tolerations: []

affinity: {}

topologySpreadConstraints: []

service:
  enabled: true
  type: "ClusterIP"
  annotations: {}
  topologyKeys: []
  ports: []
  externalTrafficPolicy: ""
  internalTrafficPolicy: ""
  loadBalancerIP: ""
  ipFamilyPolicy: ""
  ipFamilies: []
  trafficDistribution: ""

serviceHeadless:
  enabled: true

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []


dataDir: ""






defaultVolumes:
  - name: var-log
    hostPath:
      path: "/var/log/"
  - name: var-lib
    hostPath:
      path: "/var/lib/"
  - name: procfs
    hostPath:
      path: "/proc"
  - name: sysfs
    hostPath:
      path: "/sys"

defaultVolumeMounts:
  - name: var-log
    mountPath: "/var/log/"
    readOnly: true
  - name: var-lib
    mountPath: "/var/lib"
    readOnly: true
  - name: procfs
    mountPath: "/host/proc"
    readOnly: true
  - name: sysfs
    mountPath: "/host/sys"
    readOnly: true

extraVolumes: []

extraVolumeMounts: []

initContainers: []

extraContainers: []

persistence:
  enabled: false
  existingClaim: ""

  retentionPolicy: {}

  accessModes:
    - ReadWriteOnce
  size: 10Gi
  finalizers:
    - kubernetes.io/pvc-protection
  selectors: {}

  hostPath:
    enabled: true
    path: "/var/lib/vector"

dnsPolicy: ClusterFirst

dnsConfig: {}

shareProcessNamespace: false

livenessProbe: {}

readinessProbe: {}

podMonitor:
  enabled: false
  jobLabel: app.kubernetes.io/name
  port: prom-exporter
  path: /metrics
  interval:
  scrapeTimeout:
  relabelings: []
  metricRelabelings: []
  podTargetLabels: []
  additionalLabels: {}
  honorLabels: false
  honorTimestamps: true

logLevel: "warn"

haproxy:
  enabled: false

  image:
    repository: haproxytech/haproxy-alpine
    pullPolicy: IfNotPresent
    pullSecrets: []
    tag: "2.6.12"

  rollWorkload: true

  replicas: 1

  serviceAccount:
    create: true
    annotations: {}
    name:
    automountToken: true

  strategy: {}

  terminationGracePeriodSeconds: 60

  podAnnotations: {}

  podLabels: {}

  podPriorityClassName: ""

  podSecurityContext: {}

  securityContext: {}

  containerPorts: []

  service:
    type: ClusterIP
    annotations: {}
    topologyKeys: []
    ports: []
    externalTrafficPolicy: ""
    loadBalancerIP: ""
    ipFamilyPolicy: ""
    ipFamilies: []

  existingConfigMap: ""

  customConfig: ""

  extraVolumes: []

  extraVolumeMounts: []

  initContainers: []

  extraContainers: []

  autoscaling:
    enabled: false
    external: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage:
    customMetric: {}

  resources: {}

  livenessProbe:
    tcpSocket:
      port: 1024

  readinessProbe:
    tcpSocket:
      port: 1024

  nodeSelector: {}

  tolerations: []

  affinity: {}

extraObjects: []

