
services:
  openobserve:
    image: openobserve/openobserve:v0.15.1
    container_name: openobserve
    restart: unless-stopped
    environment:
      ZO_ROOT_USER_EMAIL: ${ZO_EMAIL}
      ZO_ROOT_USER_PASSWORD: ${ZO_PASSWORD}
      RUST_LOG: warning
    ports:
      - "127.0.0.1:5080:5080"   # UI / HTTP (OpenObserve default)
      - "127.0.0.1:5081:5081"   # OTLP gRPC (OpenObserve default)
    volumes:
      - openobserve-data:/data
    networks: [otlp]
    profiles:
      - openobserve
  alloy:
    hostname: floral
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - ZO_TOKEN=${ZO_TOKEN}
    ports:
      - "127.0.0.1:12345:12345"    # Alloy debug UI
      - "127.0.0.1:4317:4317"                 # OTLP gRPC receiver (optional)
      - "127.0.0.1:4318:4318"                 # OTLP HTTP receiver (optional)
    command:  run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy
    networks:
       otlp:
        aliases:
        - collector
    profiles:
      - alloy

  hotrod:
    hostname: floral
    image: jaegertracing/example-hotrod:latest
    container_name: hotrod
    restart: unless-stopped
    labels:
      prometheus-job: "hotrod"
      prometheus-scrape-port: "8080"
    ports:
      - "127.0.0.1:8080:8080"
    command: ["all"]
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://collector:4318
    networks: [otlp]

  otlp-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    restart: unless-stopped
    user: 0:0  # For docker logs scrape
    environment:
      - ZO_TOKEN=${ZO_TOKEN}
    volumes:
      - ./otlp.yaml:/etc/otelcol-contrib/config.yaml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "127.0.0.1:4317:4317"   # OTLP gRPC for apps
      - "127.0.0.1:4318:4318"   # OTLP HTTP
    networks:
       otlp:
        aliases:
        - collector
    profiles:
      - otlp-collector

  vector:
    image: timberio/vector:nightly-2025-11-01-alpine
    container_name: vector
    environment:
      - ZO_PASSWORD=${ZO_PASSWORD}
      - VECTOR_INTERNAL_LOG_RATE_LIMIT=1 # For debug
    volumes:
      - ./vector.yaml:/etc/vector/vector.yaml:ro
    ports:
      - "127.0.0.1:8686:8686"
      - "127.0.0.1:4318:4318" # OTLP gRPC
      - "127.0.0.1:4317:4317" # OTLP HTTP
    depends_on:
      - hotrod
    networks:
       otlp:
        aliases:
        - collector
    profiles:
      - vector

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    ports:
      - "127.0.0.1:3000:3000"
    networks: [otlp]
    entrypoint:
       - sh
       - -euc
       - |
         mkdir -p /etc/grafana/provisioning/datasources
         cat <<EOF > /etc/grafana/provisioning/datasources/tempo-tenant-1.yaml
         apiVersion: 1
         datasources:
         - name: tempo-floral
           type: tempo
           access: proxy
           orgId: 1
           url: 'http://tempo:3200'
           basicAuth: false
           version: 1
           editable: true 
           isDefault: true
           jsonData:
             httpHeaderName1: "X-Scope-OrgID"
           secureJsonData:
             httpHeaderValue1: "floral"
         EOF
         cat <<EOF > /etc/grafana/provisioning/datasources/tempo-tenant-2.yaml
         apiVersion: 1
         datasources:
         - name: tempo-entity
           type: tempo
           access: proxy
           orgId: 1
           url: 'http://tempo:3200'
           basicAuth: false
           version: 1
           jsonData:
             httpHeaderName1: "X-Scope-OrgID"
           secureJsonData:
             httpHeaderValue1: "entity"
         EOF
         /run.sh
    depends_on:
      - tempo
    profiles:
      - tempo

  tempo:
    container_name: tempo
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - tempodata:/var/tempo
    ports:
      - "127.0.0.1:3200:3200" # tempo ui
      - "127.0.0.1:3333:3333" # otlp grpc remapped port
      - "127.0.0.1:4444:4444" # otlp http remapped port
    networks: [otlp]
    profiles:
      - tempo

volumes:
  openobserve-data: {}
  grafanadata: {}
  tempodata: {}

networks:
  otlp:
    external: true
    name: otlp